*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border-color:#E5E7EB;
}

@font-face{
    font-family: 'Norse-Bold';
    src: url(./font/Norse-Bold.otf) format('opentype');
}
@font-face{
    font-family: 'Roboto';
    src: url(./font/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}
html{
    min-height: 100%;
}
body{
    background-image: url(./images/background.jpg);
    background-size:100vh 100vh;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100vh;
}
.main-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.logo-container h1{
    font-family:'Norse-Bold';
    font-size: 6rem;
    color: #fff;
}
.logo-container{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    height: fit-content;
    padding: 15px;
    margin-top: 100px;
    background-color: rgba(10, 10, 10, 0.56);
    flex: 1;
}

.logo-img img{
    max-height: 113px;
    width: auto;
}
 
/* right side content */
.content-container{
    flex: 2;
    background-color:#F9F9F9 ;
    padding-top: 40px;
    font-family:'Roboto';
    color: #333;
}
.description{
    padding-left: 40px;
    padding-right: 30px;
}
.description p{
    font-size: 1.23rem;
    max-width: 50ch;
    font-weight: 480;
    line-height: 1.3;
}
.description .special-line{
    display: block;
    margin: 25px 0 30px;
}
 .white-bg-container{
    padding: 20px 20px 8px 40px;
    background-color: #fff;
 }
.form-container p{
    font-size: 1.23rem;
    font-weight: 500;
    margin-bottom: 18px;
}
.input-container{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 70%;
    margin-bottom: 10px;
}
.input-container>div{
    flex: 1;
}
.input-label-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
   
}
.input-label-container label{
    font-size: 0.78rem;
    letter-spacing: 0.12em;
}
.input-label-container input{
    outline: none;
    border: 1px solid var(--border-color);
    padding: 8px;
    font-size: 1.2;
    color: inherit;
    border-radius: 4px;
}
.input-label-container input:focus{
    border-color: #1877F2;
    box-shadow: 0px 0px 1px #aaa;
}
.button-container{
     
    padding: 25px 40px 20px;

}
.button-container button{
    display: block;
    width: 170px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    background-color:#596D48;
    color: #fff;
    border: none;
    border-radius:5px;
    box-shadow: 0px 0px 4px #333;
    margin-bottom: 25px;
    font-size: 0.9rem;
}
.button-container  p{
    font-size: 1rem;
}
.button-container p a{
    font-size: 0.98rem;
    color: #1877F2;
    margin-left: 5px;
}
/* validation */
.inp:focus:invalid{
    border-color: red;
}
/* tablet responsive layout */
@media screen and (max-width:768px){
     .main-container{
        flex-direction: column;
        width: 100%;
        margin: 0;
     }

.logo-container h1{
    font-size: 3.4rem;
}
.logo-container{
    justify-content: space-between;
    flex: 0;
    padding: 15px 30px;
    margin-top: 0;
    height: auto;
    width:100vw;
    background-color: ;
}
.logo-img img{
    max-height: 85px;
    width: auto;
}
 
/* bottom side content */
.content-container{
    flex: 1;
    padding-top: 30px;
    width: 100%;
    
}
.description{
     padding-left: 30px;
    padding-right: 15px;
}
.description p{
    font-size:1.4rem;
    max-width:97% ;
    
}
 .white-bg-container{
    padding: 30px 15px 40px 30px;
 }
.form-container p{
    font-size:1.4rem;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    
}
.input-container{
    flex-direction: column;
    gap: 0px;
    width: 100%;
    align-items: flex-start;
}
.input-container>div{
    margin-top: 20px;
    flex: 1;
}
.input-label-container{
    flex-direction: row;
    width: 100%;
   gap: 0;
  
}
.input-label-container label{
    align-self: center;
     width: max(15%,100px);
    margin-right:min(10px,5em);
    text-align: left;
    font-size:1.2rem;
    letter-spacing: 0.1em;

}
.input-label-container input{
    padding: 10px;
    font-size: 1.1rem;
    width: min(50%,200px);
    margin-left: 10px;
}
.button-container{  
    padding: 40px 40px 20px;
}
.button-container button{
    width: 140px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
.button-container  p{
    font-size: 1.33rem;
}
.button-container p a{
    font-size:1.33rem;
}
}
/* mobile responsiveness */
@media screen and (max-width:500px){
.logo-container h1{
    font-size: 1.6rem;
}
.logo-container{
    justify-content: space-between;
    flex: 0;
    padding: 10px;
    height: auto;
    margin-top: 0;
}
.logo-img img{
    max-height: 45px;
    width: auto;
}
 
/* right side content */
.content-container{
    flex: 1;
    padding-top:20px;
    width: 100%;
}
.description{
    padding-left: 20px;
    padding-right: 10px;
}
.description p{
    font-size:1.15rem;
    max-width:98% ;
}
 .white-bg-container{
    padding: 25px 10px 25px 20px;
 }
.form-container p{
    font-size:1.15rem;
    letter-spacing: 0.09em;
    margin-bottom: 8px;  
}

.input-container>div{
    margin-top: 15px;
    flex: 1;
}
.input-label-container{
    flex-direction: row;
    width: 100%;
   gap: 0;
}
.input-label-container label{
    align-self: center;
    width: max(15%,100px);
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0.09em;
}
.input-label-container input{
    padding: 6px;
    font-size: 1.1rem;
     width: min(50%,200px);
}
.button-container{  
    padding: 20px 20px 10px;
}
.button-container button{
    width: fit-content;
    padding: 10px 6px;
    margin-bottom: 30px;
    font-size: 1rem;
}
.button-container  p{
    font-size:1.1rem;
}
.button-container p a{
    font-size: 1.1rem;
}
}